.alert{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: none;
    overflow: visible;
    gap: 20px;


}
@media screen and (max-width: 768px) {
    .alert{
        width: 80%;
    }
}